mixin video(info)
    a(href=`/videos/${info.id}`).video-mixin
        img.video-mixin__thumb(src='/'+info.thumbUrl)
        div.video-mixin__data
            span.video-mixin__title=info.title
            div.video-mixin__meta 
                span #{info.owner.name?info.owner.name : user.name }
                span 조회수 #{info.meta.views} 회
