.video__grid {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  columns: 4;
  column-gap: 10px;
  .video {
    width: 280px;
    margin: 0 1rem 1rem 0;
    break-inside: avoid;
    .video-mixin__thumb:hover {
      -webkit-filter: brightness(50%);
    }
  }
}
