header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .header__logo {
    color: #e60023;
    font-size: 40px;
    span {
      color: white;
    }
  }
  nav {
    width: 100%;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      li {
        margin-left: 25px;
        font-size: 15px;
        text-transform: uppercase;
        a {
          width: 100px;
          box-sizing: border-box;
        }
        form {
          margin-bottom: 0;
          display: flex;
          align-items: center;
          width: 100%;
          input {
            margin-bottom: 0 !important;
            min-width: 200px;
          }
          #header-input {
            width: var(--search-width);
          }
          #header-input-loggedIn {
            width: var(--search-width);
          }
        }
      }
      .search {
        width: 90%;
      }
    }
  }
  .header__btn {
    background-color: inherit;
    border: 1px solid rgb(145, 145, 145);
    padding: 10px 10px;
    border-radius: 25px;
    color: #3ea6ff;
    display: flex;
    justify-content: space-between;
    i {
      margin: 0 5px;
    }
    &:hover {
      background-color: #263850;
      border: 1px solid #263850;
    }
  }
  .header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
