//video mixin
.video {
  .video-mixin {
    display: flex;
    flex-direction: column;
    .video-mixin__thumb {
      display: block;
      width: 280px;
      border-radius: 15px;
      object-fit: cover;
    }

    .video-mixin__data {
      padding: 0px 15px;
      display: flex;
      flex-direction: column;

      .video-mixin__title {
        display: flex;
        margin: 10px 0;
        font-size: 20px;
      }
    }
  }
  .video-user {
    padding: 20px;
    display: flex;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
      border-radius: 30px;
      margin-right: 10px;
    }
  }
}
