extends base

block content 
    h4 Change Title of video
        form(method="POST")
            input(placeholder="Title", required, type="text", name="title", maxlength=80, value = video.title)
            input(name="description", placeholder="Description",required, type="text",minlength=20, value = video.description)
            input(
            name="hashtags",
            placeholder="Hashtags, seperated by comma",
            required,
            type="text",
            value = video.hashtags.join()
        )


            input(value="Save", type="submit")