extends base
include mixins/video

block content 
    h2 Welcome Home #{loggedIn? loggedInUser.username : "user"}! 
    ul 
        each video in videos 
           +video(video)
        else 
            li sorry nothing found
