div.social-login
    a(href="users/github/start").social__btn.social__btn--github 
        i.fab.fa-github 
        |   Login by Github &rarr;
    a(href="users/kakao/start").social__btn.social__btn--kakao
        i.fas.fa-comment 
        |    Login by Kakao &rarr;